# ==========================================
# GLOBALS (Geral para o ambiente de dev)
# ==========================================
.vscode/
.idea/
.DS_Store
thumbs.db
*.log
error-logs.txt

**/api/node_modules/
**/api/coverage/

**/api/.env
**/api/.env.local
**/api/.env.development

**/api/prisma/*.db
**/api/prisma/*.db-journal

**/api/dist/
**/api/build/

# Ignora as dependências do Node no Front
**/front/node_modules/

# Ignora os arquivos de cache e build do Angular
**/front/.angular/
**/front/dist/

# Ignora configurações locais do Angular se houver
**/front/.env