@font-face {
  font-family: 'Quantico';
  src: url('./assets/font/Quantico/Quantico-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quantico';
  src: url('./assets/font/Quantico/Quantico-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Quantico';
  src: url('./assets/font/Quantico/Quantico-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Quantico';
  src: url('./assets/font/Quantico/Quantico-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: 'Quantico';
  font-weight: normal;
}

:root {
  --bg: #0D0D0D;
  --text: #d5e0e7;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;

  i {
    margin-right: 2rem;
  }
}

.btn {
  i {
    margin-left: 0.35rem;
  }
}


.cursor-not-allowed {
  cursor: not-allowed !important;
}