<div class="d-flex flex-column g-0">
  <table class="table table-striped">
    <thead class="table-light">
      <tr>
        <th
          *ngFor="let col of columns"
          (click)="col.sortable ? toggleSort(col.key) : null"
          style="cursor: pointer"
        >
          {{ col.header }}
          <small *ngIf="col.sortable" class="text-muted ms-2">
            <span *ngIf="sortState.column === col.key && sortState.direction === 'asc'">▲</span>
            <span *ngIf="sortState.column === col.key && sortState.direction === 'desc'">▼</span>
          </small>
        </th>
        <th style="width: 100px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of pageItems">
        <td *ngFor="let col of columns">
          @if (col.type === 'doc') {
            {{ row[col.key] | mask: '000.000.000-00' }}
          } @else if (col.type === 'date') {
            {{ row[col.key] | date: 'dd/MM/yyyy' }}
          } @else if (col.type === 'fone') {
            {{ row[col.key] | mask: '(00) 00000-0000' }}
            } @else if (col.type === 'cidade') {
              {{ row['cidade'] }} / {{ row['uf'] }}
          } @else {
            {{ row[col.key] }}
          }
        </td>

        <td>
          <span class="action-btn text-success-emphasis" (click)="emitAction('edit', row)">
            <i class="fa-solid fa-square-pen"></i>
          </span>
          <span class="action-btn text-danger" (click)="emitAction('delete', row)">
            <i class="fa-solid fa-circle-xmark"></i>
          </span>
        </td>
      </tr>
      <tr *ngIf="!pageItems || pageItems.length === 0">
        <td [attr.colspan]="columns.length + 1" class="text-center no-records">
          Nenhum registro encontrado!
        </td>
      </tr>
    </tbody>
  </table>

  <pagination
    [totalItems]="total"
    [(ngModel)]="restResp.pageNumber"
    [itemsPerPage]="restResp.pageSize"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
  >
  </pagination>
</div>
