<div class="d-flex flex-column g-0">
  <table class="table table-striped">
    <thead class="table-light">
      <tr>
        <th style="width: 100px"></th>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th style="width: 110px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of pageItems">
        <td>
          <span
            class="action-btn badge rounded-pill bg-info-subtle text-info-emphasis"
            (click)="emitAction('edit', row)"
          >
            <i class="fa-solid fa-file-pen"></i>
            Editar
          </span>
        </td>
        <td *ngFor="let col of columns">
          @if (col.type === 'doc') {
            {{ row[col.key] | mask: '000.000.000-00' }}
          } @else if (col.type === 'date') {
            {{ row[col.key] | date: 'dd/MM/yyyy' }}
          } @else if (col.type === 'fone') {
            {{ row[col.key] | mask: '(00) 00000-0000' }}
          } @else if (col.type === 'cidade') {
            {{ row['cidade'] }} / {{ row['uf'] }}
          } @else if (col.type === 'status') {
            {{ row['status'] ? 'ATIVO' : 'INATIVO' }}
          } @else {
            {{ row[col.key] }}
          }
        </td>

        <td>
          <span
            class="badge rounded-pill text-bg-danger action-btn"
            (click)="emitAction('status', row)"
          >
            Desativar
            <i class="fa-solid fa-xmark"></i>
          </span>
        </td>
      </tr>
      <tr *ngIf="!pageItems || pageItems.length === 0">
        <td [attr.colspan]="columns.length + 1" class="text-center no-records">
          Nenhum registro encontrado!
        </td>
      </tr>
    </tbody>
  </table>

  <pagination
    [totalItems]="total"
    [(ngModel)]="currentPage"
    [itemsPerPage]="currentPageSize"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
  >
  </pagination>
</div>
